/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3344022 */
  src: url('//at.alicdn.com/t/c/font_3344022_axkli52jo1h.woff2?t=1671611332227') format('woff2'),
       url('//at.alicdn.com/t/c/font_3344022_axkli52jo1h.woff?t=1671611332227') format('woff'),
       url('//at.alicdn.com/t/c/font_3344022_axkli52jo1h.ttf?t=1671611332227') format('truetype');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 60px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .amap-sug-result {
    z-index: 9999 !important;
  }
 