@font-face {
  font-family: 'iconfont';  /* Project id 3344022 */
  src: url('//at.alicdn.com/t/font_3344022_vubj2o3d81.woff2?t=1651801715675') format('woff2'),
       url('//at.alicdn.com/t/font_3344022_vubj2o3d81.woff?t=1651801715675') format('woff'),
       url('//at.alicdn.com/t/font_3344022_vubj2o3d81.ttf?t=1651801715675') format('truetype');
}
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 60px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 